<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>07. Keyboard events</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="7style.css">
  </head>
  <body>
    <div id="vue-app">
      <h1>Key board event</h1>

      <label>name : </label>

      <input v-model="name" type="text"/>
      <p>{{name}}</p>
      <label>age : </label>
      <input v-model="age" type="text"/>
      <p>{{age}}</p>



    </div>

    <script src="7app.js"> </script>
  </body>
</html>
